body {
    background-color:lightgray;
    /* color: white; */
}
html
{
    width: 300px;  /* max: 800px */
    height: 500px; /* max: 600px */
}
img.popup
{
    padding: 2px;
    max-width: 30px;  /* max: 800px */
    max-height: 30px; /* max: 600px */
}

h4
{
    margin:0;
}
h2
{
    margin:0;
}
div.otherlanguages {
    max-height:140px;
    overflow-y:scroll;
}
